<mat-toolbar color="secondary">
    <span>TableLand integrations</span>

    <a mat-button (click)="onWalletConnect()"> Connect Wallet </a>

    <span class="example-spacer"></span>


    <span style="font-size: small;" *ngIf="this.options">
        <mat-icon fontIcon="wallet"></mat-icon>
        Wallet connected

        <mat-icon fontIcon="link"></mat-icon>
        {{this.options.chain}}

        <mat-icon fontIcon="description"></mat-icon>
        {{this.options.contract}}
    </span>
</mat-toolbar>

<mat-tab-group (selectedTabChange)="OnTabChange($event)">
    <mat-tab label="View entities">
        <mat-card>
            <mat-list role="list" *ngFor="let table of listOfTables">
                <mat-list-item (click)="queryTable(table.name)" role="listitem">{{table.name}}</mat-list-item>
            </mat-list>
        </mat-card>

        <table *ngIf="tableIsReady" mat-table [dataSource]="tableContents">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Create Entities">

    </mat-tab>
</mat-tab-group>